<div class="Reportes">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card text-white bg-warning mb-3">
                               
                            <mat-tab-group >
                                <mat-tab label="Tab 1">
                                        <button type="button" (click)="analizar()" class="btn btn-warning center">Ejecutar</button>
                                        <button type="button" (click)="abrir('fileInput')" class="btn btn-warning center">Abrir
                                            <input id="fileInput" type="file" style="display:none" accept=".ty" (change)="readFile($event,1)">
                                        </button>
                                        <button type="button" (click)="guardar(1)" class="btn btn-warning center">Guardar</button>
                                    
                                        <div style="width: auto; height: 487px;">
                                            <ngx-monaco-editor [formControl]="editorTexto" [options]="editorOptions"
                                                [(ngModel)]="code" (init)="editorInit($event)"></ngx-monaco-editor>
                                        </div>
                                </mat-tab>
                                <mat-tab label="Tab 2">
                                    <button type="button" (click)="analizar2()" class="btn btn-warning center">Ejecutar</button>
                                        <button type="button" (click)="abrir('fileInput2')" class="btn btn-warning center">Abrir
                                            <input id="fileInput2" type="file" style="display:none" accept=".ty" (change)="readFile($event,2)">
                                        </button>
                                        <button type="button" (click)="guardar(2)" class="btn btn-warning center">Guardar</button>
                                    
                                        <div style="width: auto; height: 487px;">
                                            <ngx-monaco-editor [formControl]="editorTexto2" [options]="editorOptions"
                                                [(ngModel)]="code2" (init)="editorInit($event)"></ngx-monaco-editor>
                                        </div>
                                </mat-tab>
                                <mat-tab label="Tab 3">
                                    <button type="button" (click)="analizar3()" class="btn btn-warning center">Ejecutar</button>
                                    <button type="button" (click)="abrir('fileInput3')" class="btn btn-warning center">Abrir
                                        <input id="fileInput3" type="file" style="display:none" accept=".ty" (change)="readFile($event,3)">
                                    </button>
                                        <button type="button" (click)="guardar(3)" class="btn btn-warning center">Guardar</button>
                                    
                                        <div style="width: auto; height: 487px;">
                                            <ngx-monaco-editor [formControl]="editorTexto3" [options]="editorOptions"
                                                [(ngModel)]="code3" (init)="editorInit($event)"></ngx-monaco-editor>
                                        </div>
                                </mat-tab>
                                <mat-tab label="Tab 4">
                                    <button type="button" (click)="analizar4()" class="btn btn-warning center">Ejecutar</button>
                                    <button type="button" (click)="abrir('fileInput4')" class="btn btn-warning center">Abrir
                                        <input id="fileInput4" type="file" style="display:none" accept=".ty" (change)="readFile($event,4)">
                                    </button>
                                        <button type="button" (click)="guardar(4)" class="btn btn-warning center">Guardar</button>
                                    
                                        <div style="width: auto; height: 487px;">
                                            <ngx-monaco-editor [formControl]="editorTexto4" [options]="editorOptions"
                                                [(ngModel)]="code4" (init)="editorInit($event)"></ngx-monaco-editor>
                                        </div>
                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </div>
                    <div class="col-md-7">
                        <div  class="card text-white bg-warning mb-3">
                            <div class="card-header">Consola</div>
                                <div style="width: auto; height: 500px;">
                                    <ngx-monaco-editor 
                                        [formControl]="consola" [options]="consoleOptions"
                                        [(ngModel)]="console" (init)="editorInit($event)" aria-readonly="true">
                                    </ngx-monaco-editor>
                                </div>
                            <br>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>  
        <br>
        <div align="center" >
            <div class="col-md-9">
            <h1>Tabla de errores</h1>
                <table  class="table table-dark">
                <thead>
                    <tr class="bg-warning">
                        <th >Tipo</th >
                        <th >Descripcion</th >
                        <th >Linea</th >
                        <th >Columna</th >
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of data_error">
                        <td>{{e.tipo}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>{{e.linea}}</td>
                        <td>{{e.columna}}</td>
                    </tr>
                </tbody>
            </table>
        </div></div>
        <br><br>
        <div align="center" >
            <div class="col-md-9">
            <h1>Tabla de Símbolos</h1>
                <table  class="table table-dark">
                <thead>
                    <tr class="bg-warning">
                        <th >Identificador</th >
                        <th >Tipo</th >
                        <th >Tipo</th >
                        <th >Entorno</th >
                        <th >Linea</th >
                        <th >Columna</th >
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of data_simbolo">
                        <td>{{e.id}}</td>
                        <td>{{e.soy}}</td>
                        <td>{{e.tipo}}</td>
                        <td>{{e.entorno}}</td>
                        <td>{{e.linea}}</td>
                        <td>{{e.columna}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>