<div id="tabconsola" class="bg-warning">
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#consolaa">Tab1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#consolaa">Tab2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#consolaa">Tab3</a>
    </li>
</ul>
</div>

<div class="tab-pane fade in active show bg-success" id="consolaa">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card text-white bg-warning mb-3">
                            <div class="card-header">Ingrese texto:</div>
                            
                                <div style="width: auto; height: 550px;">
                                    <ngx-monaco-editor [formControl]="editorTexto" [options]="editorOptions"
                                        [(ngModel)]="code" (init)="editorInit($event)"></ngx-monaco-editor>
                                </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <br><br><br><br><br>
                        <div class="d-grid gap-2" >
                            <div align="center">
                            <button type="button" (click)="analizar()" class="btn btn-warning center">Ejecutar</button>
                            <br><br>
                            <button type="button" (click)="analizar()" class="btn btn-dark center">Tablas</button>
                            <br><br>
                            <button type="button" (click)="analizar()" class="btn btn-dark center">Arbol AST</button>
                            <br><br>
                            <button type="button" (click)="analizar()" class="btn btn-dark center">Abrir</button>
                            <br><br>
                            <button type="button" (click)="analizar()" class="btn btn-dark center">Guardar</button>
                        </div></div>
                    </div>
                    <div class="col-md-5">
                        <div  class="card text-white bg-warning mb-3">
                            <div class="card-header">Consola</div>
                                <div style="width: auto; height: 550px;">
                                    <ngx-monaco-editor 
                                        [formControl]="consola" [options]="consoleOptions"
                                        [(ngModel)]="console" (init)="editorInit($event)" aria-readonly="true">
                                    </ngx-monaco-editor>
                                </div>
                            <br>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>  
        <br>
        <div align="center" >
            <div class="col-md-9">
            <h1>Tabla de errores</h1>
                <table  class="table table-dark">
                <thead>
                    <tr class="bg-warning">
                        <th >Tipo</th >
                        <th >Descripcion</th >
                        <th >Linea</th >
                        <th >Columna</th >
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of data_error">
                        <td>{{e.tipo}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>{{e.linea}}</td>
                        <td>{{e.columna}}</td>
                    </tr>
                </tbody>
            </table>
        </div></div>
        <br><br>
        <div align="center" >
            <div class="col-md-9">
            <h1>Tabla de Símbolos</h1>
                <table  class="table table-dark">
                <thead>
                    <tr class="bg-warning">
                        <th >Identificador</th >
                        <th >Tipo</th >
                        <th >Tipo</th >
                        <th >Entorno</th >
                        <th >Linea</th >
                        <th >Columna</th >
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of data_simbolo">
                        <td>{{e.tipo}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>{{e.linea}}</td>
                        <td>{{e.columna}}</td>
                        <td>{{e.linea}}</td>
                        <td>{{e.columna}}</td>
                    </tr>
                </tbody>
            </table>
        </div></div>
</div>

